*{
    margin: 0;
    padding: 0 ;
    box-sizing: border-box;
}
body{
    font-size: 1.125rem;
}
.container{
    width: 96%;
    margin-inline: auto;
    max-width: 1400px;
    border: 2px solid red;
    
}
img{
    max-width: 100%;
    display:block;
    margin-inline: auto;
    
    
}
h1{
    font-family: monospace;
    text-align: center;
    text-decoration: underline;
    padding-block: 1em ;
    font-size: 3rem ;
}
h1 span{
    color: red;

}
h2{
    font-size: 2.5rem;
}
p{
    font-size: 1.5rem;
    font-family: monospace;
    line-height: 1.8em;
    margin-top: 1rem;
  
}
.columns{
    display: flex;
    margin: 1em 0;
    justify-content: space-between;
    align-items: flex-start;

}
.col-bg{
    background-color: red;
    color: white;
    padding: 1em;
}
.col-1{
    width: 20%;
    color: black;
}
.col-2{
    width: 45%;
}
.col-3{
    width: 75%;
    
}





@media(max-width: 800px){
    .columns{
       flex-direction: column;
    }  
    .col-1,
    .col-2,
    .col-3{
       width: 100%;
       color: blue;
    }
    h1{
        font-size: 1.5rem ;
    }
    h2{
        font-size: 1.3rem;
    }
    p{
        font-size: 1rem;
    }
    
    
   }
